*{ margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Philosopher', sans-serif;

} 
.main{margin-top: 0px;

}
.PageSwitcher {
    display:flex;
    justify-content: flex-end;
    position: absolute;
    left:95%;
    margin-top: 0.05%;;
    top:0.05%;
  }
  
  .PageSwitcher__Item {
    background-color:rgb(192, 191, 191);
    padding: 10px 25px;
    cursor: pointer;
    font-size: 100px;
    border: none;
    outline: none;
    display: flex;
    text-decoration: none;
  }
  
  .PageSwitcher__Item--Active {
    background-color: #5ED0C0;
    color: white;

  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 15px;


  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 15px;

  }
  
.mainnav{
    float:right;
    position:absolute;
    margin-top:20px;
top:1%;
        left:41%;

    color: #110800;

    
    }
    .mainnav li{
    display:inline-block;
    list-style:none;
    margin-left:51px;
    overflow:hidden;
    color: #110800;

    }
    .mainnav li a{
        color: #110800;
        text-decoration: none;
        font-size:130%;
        font-weight: bold;
        color: green;
        border: none;
        outline: none;
    
    }
    .mainnav li a:hover{
        background-color:rgba(27, 26, 26, 0.088);

    }
    .mainnav-fixed{
        top: 0;
        z-index: 100;
      position: fixed;
        
    }
    .row{
        max-width:1180px;
        margin:0px;
        
    }
    .logo{ 
        height:1px;
        width:8px;
        float:left;
        position: absolute;
        top:0.08%;
        left:1%;

    }
    .title1{
        display:inline-block;
    list-style:none;
    margin-right:10px;
        text-decoration: none;
        font-size:220%;
        font-weight:400;
        position:absolute;
        top:1.5%;
        left:5%;
    animation: sports 0.5s infinite;
}
@keyframes sports{
    0%{color:olivedrab;};
    25%{color:brown;};
    50%{color:yellowgreen};
    100%{color:rgb(0, 128, 58);};
}
    
    .title2{
        display:inline-block;
    list-style:none;
    margin-right:12px;
    columns: #110800;
        text-decoration: none;
        font-size:300%;
        font-weight:180px;
        position:absolute;
        top:7%;
        left:5%;

    }
    
        .start1{
            background-image:url('../images/pic2.jpg');
                background-repeat: no-repeat;
            
                background-size: contain;
              width:100%;
                  position: absolute;
                top:72px;
              height:200vh;
        }
        .maincontenta{
            position:absolute;
            top:42%;
            left:35%;
            text-align: center;
            color:black;
            background-color: #fff;
        
        }
        .texta{
            margin-bottom: 10px;;
            color:black;
         color:black;
        
        
        
        }
        .texta h3
        {     color:black;
         font-size:150;
            margin-top: 13%;
            margin-left: 30%;
            margin-bottom: 10px;
            position: relative;
            color:black;
            color:black;
            background-size: contain;
            
        
            top:15%;
        }
        .texta h3{color:#000;
            margin-left: 20%;
            font-size:30px;
            font-weight: 400;
            color:black;
        
            position: relative;
            top:15%;
        
        
        }
        .maincontenta1{
            position:absolute;
            top:91%;
            left:42%;
            text-align: center;
            color:olive;
        }
        .linea{
            width:100%;
            position: relative;
        
        }
        .cardaa1 {
           
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 75%;
            margin-top: 500px;
        
            text-align: center;
            font-family: arial;
            position: absolute;
            left:1px;
          }
          
        .cardaa2{
           
            
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
            left:1015px;
        
            margin-top: 520px;
            font-family: arial;
            position: absolute;
            right:1px;
            height:300px;
          }
          .cardaa3 {
           
            
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 75%;
            margin-top: 870px;
        
            text-align: center;
            font-family: arial;
            position: absolute;
            left:1px;
          }
          .cardaa4{
           
            
            box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
            left:1015px;
        
            margin-top: 890px;
            font-family: arial;
            position: absolute;
            right:1px;
            height:300px;
          }
        
        .cardaa1 .contenta{
            background-image: url(../images/product3.jpg);
            background-repeat: no-repeat;
            
            background-size: cover;
        height:300px;
        
                position: absolute;
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
                opacity: 0.9;
              
        }
        .cardaa3 .contenta{
            background-image: url(../images/product4.jpg);
            background-repeat: no-repeat;
            
            background-size: cover;
        height:300px;
        
                position: absolute;
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
                opacity: 0.9;
              
        }
        .contenta h5{
            position:absolute;
            font-size:24px;
            top:9%;
            font-weight: 750;
            
            text-align: center;
            color:white;
        }
        .contenta h1{
            position:absolute;
            font-size:20px;
            top:22%;
            font-weight: 600;
            
            text-align:center;
            color:black;
        }
        .FormField__Button1 {
            background-color :rgb(42, 112, 42);
            position:absolute;
            color: white;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 15px 45px;
            font-size: .8em;
            font-weight: 500;
            top:60%;
            left:4%;
          }
          .FormField__Button2 {
            background-color: rgb(42, 112, 42);
            position:absolute;
            color: white;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 15px 45px;
            font-size: .8em;
            font-weight: 500;
            top:60%;
            left:20.5%;
          }
          .FormField__Button3{
            background-color:rgb(42, 112, 42);
            position:absolute;
            color: white;
            border: none;
            outline: none;
            border-radius: 25px;
            padding: 15px 45px;
            font-size: .8em;
            font-weight: 500;
            top:60%;
            left:35.25%;
          }
          .FormField__Button4{
            background-color:rgb(42, 112, 42);
            position:absolute;
            color: white;
            border: none;
            outline: none;
            padding: 15px 45px;
            font-size: .8em;
            font-weight: 500;
            top:80%;
        right:5px;  }
        
        .title-boxa{
            background:  rgb(30, 11, 49);
            color:#fff;
            width:495px;
            padding:4px 10px;
            height:40px;
            margin-bottom: 30px;
            display:flex;
            
            
          
          }
          .title-boxa::after{
            content:'';
            border-top:40px solid  rgb(30, 11, 49);
            border-right:49px solid transparent;
            position: absolute;
            display: flex;
            margin-top: -4px;
            margin-left: 480px;
            
          
          }
    
    