<html><head><title>Sports&Fitness</title>
    <link rel="icon" href="../images/logo.png" type="image/gif">

</head>
<body>
<link rel="stylesheet" href="../css/home.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Philosopher:wght@700&family=Sofia&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
<div class="main sticky"> <div class="row dib grow">
    <div class="logo dib">
    <img src="../images/logo.png" alt=" "/></div>
    
    <div class="title">
      <span>
        <div class="title1">SPORTS&FITNESS</div> 
      </span><br/>
</div>
</div>
<div class="mainnav">
    <ul>
    <li>
  <a href="home">HOME</a>
</li>
<li>
 <a href="sports"> SPORTS</a>

</li>
<li>
<a href="fitness">FITNESS</a>
</li>
<li>
<a href="products">PRODUCTS</a>

</li><li>
    <div class="PageSwitcher">
        <a href="signinform" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item">SIGNIN</a>
        <a href="signupform" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item">SIGNUP</a>
      </div>



</li>



</ul>
</div>
</div>
<%- messages('messages', locals) %>

<div>
    <div class="image"> </div>
    <div class="background"></div>
    <div class="maincontent text animated pulse bold">
    <h1 >Life is hard enough already.Let us make it a little easier.

</h1>


    </div>
    
         
    <div class="text">
            <h2></h2>
            <h3>This website is a platform to provide facilities like booking as well as buying sports and fitness products.</h3>
          </div>
         
            <div class="row ">

        
              <div class="carda">

<a href="#">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJd3xpfuf41moTasWkgM-8PEvAdjrspk5Mtm5L3PlRuOGNbuXk&s" class="card-img-top" alt="..."/>
 <div class="content">
 <h5 class="card-title">Pay and Join</h5>

<p class="description">You can get three features within this.Pay and play,coaching and membership of your favourite and favourabe sports and fitness centers.
            </p>
            </div>
</a></div>
<div class="carda1">

<a href="Product">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCyOBq3hxMjn2O8zBXMKDXFIkC9KLOHjrLzAwwAerOMZA7ANZO3Q&s" class="card-img-top" alt="..."/>

 <div class="content">
 <h5 class="card-title">Buy Products</h5>

<p class="description">Purchase products of sports and fitness through this website.You can get great deals and stuffs with reasonable price.Let's go and buy some good stuffs.</p>
            
            
            </div>
</a></div> 
             
              <div class="carda2">

<a href="#">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDVphUbqxlvnrbTtao7-bA2_y_fLCIeQ4liIBl8hEeErgVEyYK4A&s" class="card-img-top" alt="..."/>
 <div class="content">
 <h5 class="card-title">Events</h5>

<p class="description">Want to have a friendly match? or missing team members? You can create events or can take part in the existing events and can enjoy.Let's go and have fun.</p>
          
            </div>
</a></div>

            </div> </div>
           
</body>
</html>