<%- include ('_layouts/header1') -%>
<link rel="stylesheet" href="../css/home.css">


<div>
    <div class="image"> </div>
    <div class="background"></div>
    <div class="maincontent text animated pulse bold">
    <h1 >Life is hard enough already.Let us make it a little easier.

</h1>

<!--<% if(locals.errorMessage!=null){%>
  <%=errorMessage%>
  <%}%>-->
    </div>
    
         
    <div class="text">
            <h2></h2>
            <h3>This website is a platform to provide facilities like booking as well as buying sports and fitness products.</h3>
          </div>
         
            <div class="row ">

        
              <div class="carda">

<a href="#">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJd3xpfuf41moTasWkgM-8PEvAdjrspk5Mtm5L3PlRuOGNbuXk&s" class="card-img-top" alt="..."/>
 <div class="content">
 <h5 class="card-title">Pay and Join</h5>

<p class="description">You can get three features within this.Pay and play,coaching and membership of your favourite and favourabe sports and fitness centers.
            </p>
            </div>
</a></div>
<div class="carda1">

<a href="Product">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCyOBq3hxMjn2O8zBXMKDXFIkC9KLOHjrLzAwwAerOMZA7ANZO3Q&s" class="card-img-top" alt="..."/>

 <div class="content">
 <h5 class="card-title">Buy Products</h5>

<p class="description">Purchase products of sports and fitness through this website.You can get great deals and stuffs with reasonable price.Let's go and buy some good stuffs.</p>
            
            
            </div>
</a></div> 
             
              <div class="carda2">

<a href="#">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDVphUbqxlvnrbTtao7-bA2_y_fLCIeQ4liIBl8hEeErgVEyYK4A&s" class="card-img-top" alt="..."/>
 <div class="content">
 <h5 class="card-title">Events</h5>

<p class="description">Want to have a friendly match? or missing team members? You can create events or can take part in the existing events and can enjoy.Let's go and have fun.</p>
          
            </div>
</a></div>

            </div> </div>
           
