<%- include ('_layouts/header1') -%>
<link rel="stylesheet" href="../css/sports.css">


<div>
    <div class="start"></div> 
 
        <div class="maincontenta2 bold">
     <h1 >BROWSE|BOOK|PLAY
 </h1>
 
 </div>
  <div class="texta">
             <h3>Find the best sports venues and fitness arenas in your locality</h3>
           </div>
           <div class="maincontentaa bold">
     <h1 >TOP VENUES
 </h1><hr></hr>
 
 
 </div>
 <div class="cardaaa3">
 
 
 
  <div class="contentaa">
  <div class="title-boxa">
  <h1 >Kathmandu Dolphins</h1>
 
 <h5>Ravi Bhawan</h5></div>
 <button class="FormField__Button1 mr-20">Membership</button>
 <button class="FormField__Button2 mr-20">Coaching</button>
 <button class="FormField__Button3 mr-20">PayAndPlay</button>
 <button class="FormField__Button4 mr-20">BOOK</button>
 
             
             </div>
 </div>
 <div class="cardaaa4">
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.7317039830114!2d85.28820631470109!3d27.694686032655937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1867b325786b%3A0x40d5c6b7aac84b89!2sKathmandu%20Dolphins!5e0!3m2!1sen!2snp!4v1583252981689!5m2!1sen!2snp" ></iframe>   
  </div>
 
  <div class="cardaaa1">
 
 
 
  <div class="contentaa">
  <div class="title-boxa">
 
  <h1 >Imadol Swimming Pool</h1>
 <h5>Near The Ashok Stupa </h5></div>
 <button class="FormField__Button1 mr-20">Membership</button>
 <button class="FormField__Button2 mr-20">Coaching</button>
 <button class="FormField__Button3 mr-20">PayAndPlay</button>
 <button class="FormField__Button4 mr-20">BOOK</button>
 
             
             </div>
 </div>
 <div class="cardaaa2">
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.928767945523!2d85.33751741458128!3d27.65767548281254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb175f52ad107d%3A0x9d8955e99478b1d1!2sImadol%20Swimming%20Pool!5e0!3m2!1sen!2snp!4v1583255239146!5m2!1sen!2snp" ></iframe> </div>
  
  
  
  </div> 
